body{
  background-color:;
  background-image: url("https://tse4.mm.bing.net/th?id=OIP.uhP0HulskcgyUGUiKKQP6gHaE8&pid=Api&P=0&w=272&h=182");
  background-size: 100%;
  width:100%;
  height: auto;
}
.intro{
  text-align: left;
  color: white;

}

}
.info{
  color: white;


}
